body{
	font-family: Aladin;
	background-image:url("https://www.gamewallpapers.com/img_script/mobile_dir2/img.php?src=wallpaper_the_lord_of_the_rings_war_in_the_north_05_ipad.jpg&height=755&width=850&crop-to-fit");
	background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position:center center;
	color:white;
	padding:1em;
	margin:1em;
}
header{
font-family: playfair display;
	letter-spacing:.5em;

}
p{
	border: double ;
background-color:black;
padding:10px 10px 10px 10px;
word-spacing:.5em;
}
header h1{
	border: double ;
	background-image: linear-gradient(WHITE ,BLACK);
	padding: 15px 15px 15px 15px;
	text-shadow:0px 6px 6px white ;
	
}

a{
	color:white;
}
footer p{
	background-image: linear-gradient(crimson, aqua);
}