body{
	font-family: cinzel;
	background-image:url("https://steamuserimages-a.akamaihd.net/ugc/861737390167423000/0728AFAB5D38C44F96701013F88163683C845A7A/");
	background-repeat:no-repeat;
	background-attachment: fixed;	
	color:white;
	padding:1em;
	margin:1em;
}
Header{
	font-family: Playfair display;
	letter-spacing:.5em;
	background-repeat:no-repeat;
	background-attachment: fixed;	
	color:white;
}
p{
	border: double ;
background-color:grey;
padding:10px 10px 10px 10px;
word-spacing:.5em;
}

a{
	color:white;
}